[package]
name = "ironoxide"
version = "0.7.0"
authors = ["IronCore Labs <info at ironcorelabs.com>"]
readme = "README.md"
license = "AGPL-3.0-only"
repository = "https://github.com/IronCoreLabs/ironoxide"
documentation = "https://docs.rs/ironoxide"
categories = ["cryptography"]
keywords = ["cryptography", "proxy-re-encryption", "PRE", "ECC", "transform-encryption"]
description = "A pure-Rust SDK for accessing IronCore's privacy platform"
edition = "2018"

[dependencies]
base64 = "0.10"
base64-serde = "0.3.1"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
rand = "0.6"
rand_chacha = "0.1"
regex = "1.1"
ring = "0.14"
recrypt = {path = "../recrypt-rs"}
reqwest = "0.9"
tokio = "0.1"
hex = "0.3"
itertools = "0.8"
futures = "0.1.25"
quick-error = "1.2"
lazy_static = "1.2"
chrono = { version = "0.4", features = ["serde"] }
percent-encoding="1.0"

[dev-dependencies]
frank_jwt = "3.1.1"
galvanic-assert = "0.8"
base64 = "0.10"
uuid = { version = "0.7.2", features = ["serde", "v4"] }

[features]
senv = []